/build/
bin

src/main/webapp/resources/bower_components/


*.class
*.jar
*.war
*.ear

.classpath
.gradle/2.1/taskArtifacts/cache.properties
.project
.settings
.gradle
gradlew
gradlew.bat
*.springBeans
gradle/wrapper/gradle-wrapper.properties