<!-- Menu sidenav -->
<section layout="row">
	<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="snLeft">
		<md-toolbar>
			<h1 class="md-toolbar-tools">Men&uacute;</h1>
		</md-toolbar>
		<md-content layout-padding="">
			<md-list>
				<md-item ng-if="!authenticated">
					<md-item-content>
						<div class="md-tile-left">
							<i class="fa fa-user fa-lg"></i>
						</div>
						<div class="md-tile-content">
							<md-button ng-href="{{signInUrl}}" aria-label="iniciar sesion">Iniciar sesi&oacute;n</md-button>
						</div>
					</md-item-content>
				</md-item>

				<md-item>
					<md-item-content>
						<div class="md-tile-left">
							<i class="fa fa-users fa-lg"></i>
						</div>
						<div class="md-tile-content">
							<md-button ng-href="{{registerUrl}}" aria-label="registrarse">Registrarse</md-button>
						</div>
					</md-item-content>
				</md-item>

				<md-item>
					<md-item-content>
						<div class="md-tile-left">
							<i class="fa fa-pencil-square-o fa-lg"></i>
						</div>
						<div class="md-tile-content">
							<md-button ng-href="{{ongsUrl}}" aria-label="inscribete a una ONG">Inscr&iacute;bete a una ONG</md-button>
						</div>
					</md-item-content>
				</md-item>

				<md-item>
					<md-item-content>
						<div class="md-tile-left">
							<i class="fa fa-sort-amount-asc fa-lg"></i>
						</div>
						<div class="md-tile-content">
							<md-button ng-href="{{eventsUrl}}" aria-label="mostrar eventos">Eventos</md-button>
						</div>
					</md-item-content>
				</md-item>
				
				<md-item>
					<md-item-content>
						<div class="md-tile-left">
							<i class="fa fa-sort-amount-asc fa-lg"></i>
						</div>
						<div class="md-tile-content">
							<md-button ng-href="{{ongNewUrl}}" aria-label="registrarse como ong">
								Registrarse como ONG
							</md-button>
						</div>
					</md-item-content>
				</md-item>
			</md-list>
		</md-content>
	</md-sidenav>
</section>