<md-tabs md-selected="selectedIndex" flex="">
		
	<md-tab>
		<md-tab-label>PERFIL</md-tab-label>
		<section layout="row" layout-align="space-around">
			<div layout="row" layout-align="space-around">
				<md-content>
					<md-card layout-align="center center" layout-padding="">
						<img ng-src="{{randomPhotoMed}}" class="face-profile" />
						
						<h1>{{volunteerResource.volunteer.name}}</h1>
						
						<div>
							
							<p>{{volunteerResource.volunteer.description}}</p>
							
							<p>
								Ojos que Sienten A.C es una Asociación que tiene por objetivo cambiar las percepciones sobre las personas con 
								discapacidad visual, enfocándonos en sus habilidades, empoderándolas e incluyéndolas en el ámbito social, laboral 
								y educativo, apoyándolas así a superar sus barreras.
							</p>
							<p>
								Nace en 2006 de la iniciativa de la fotógrafa Gina Badenoch, quién se da cuenta, tras realizar una investigación en
								Londres sobre fotógrafos con discapacidad visual, que la fotografía es una herramienta con gran potencial para 
								las PCDV, ya que a través de ésta son vistas y escuchadas.
							</p>
							<p>
								De esta forma, la fotografía se ha convertido en una de las herramientas más importantes de Ojos Que Sienten A.C.
								para romper paradigmas y traspasar los límites de la discapacidad visual de una forma creativa, vivencial  e
								innovadora.
							</p>
							<p>
								Adicional al taller de fotografía, actualmente ofrecemos un ciclo de capacitación para personas con discapacidad
								visual, enfocado en desarrollar la inteligencia emocional y las habilidades laborales que les permita desarrollar
								su potencial como miembros productivos de la sociedad.
							</p>
							<p>
								A lo largo de nuestra historia, hemos impactado de manera directa a más de 500,000 personas personas con y sin
								discapacidad a través de distintas actividades de alto impacto social que han tendido puentes de unión entre 
								distintos grupos de personas.
							</p>
						</div>
					</md-card>
				</md-content>
			</div>
			<div layout-margin="" md-theme="blueGreyTheme">
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$media('gt-md')"
							md-component-id="eventsGoingNav">
					<md-toolbar class="md-accent">
						<h1 class="md-toolbar-tools"> Informaci&oacute;n adicional </h1>
					</md-toolbar>
					
					<md-content layout-padding="">
						<div>
							Ubicaci&oacute;n: {{volunteerResource.volunteer.address}}
							<br/>
							Requiere cv: {{volunteerResource.volunteer.cv === 1? 'si': 'no'}}
							<br/>
							Voluntarios inscritos: {{volunteerVolunteers.length}}
						</div>
						<h1>&Uacute;ltimos eventos</h1>
						<md-card>
							<div ng-if="volunteerEvents.length === 0" layout-padding="">
								No hay eventos disponibles
							</div>
						</md-card>
						<vol-events-mini events="volunteerEvents"></vol-events-mini>
					</md-content>
					
				</md-sidenav>
			</div>
		</section>
	</md-tab>
	
	<md-tab>
		<md-tab-label>EVENTOS QUE HAS ASISTIDO</md-tab-label>
		<div layout="row" layout-align="space-around center">
			<vol-events events="volunteerEvents"></vol-events>
		</div>
	</md-tab>
	
	<md-tab>
		<md-tab-label>CAUSAS A LAS QUE ESTAS APOYANDO</md-tab-label>
		<div layout="row" layout-align="space-around center">
			<vol-ongs-list ongs="volunteerOngs"></vol-ongs-list>
		</div>
	</md-tab>
		
</md-tabs>